.settings-page{
    width:90%;
    margin-left:20px;
}

.errorHig{
    background-color :#ffc2c2 ;
    color:red;
    width:100%;
    text-align: start;
    padding-top:15px;
    padding-bottom:15px;
    border:1px solid red;
    border-radius: 10px;
    padding-left:20px;
    font-weight: 500;
}

.successHig{
    background-color: #d8facf;
    color:#4fbd69;
    width:100%;
    text-align: start;
    padding-top:15px;
    padding-bottom:15px;
    border:1px solid #4fbd69;
    padding-left:20px;
    border-radius: 10px;
    font-weight: 500;
}

.ul-container{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height:100px;
}

.li-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right:10px;
    margin-bottom:10px;
    background-color: #d9dbdb;
    padding-right:5px;
    padding-left:10px;
    padding-top:5px;
    border-radius: 5px;
    font-weight: 700;
}

.subdomainContainer{
    margin-right:21px;
    margin-bottom:15px;
}

.apiKeyInput{
    padding:6px;
    font-weight:500;
    margin-top:5px;
}

.label{
    font-size: 15px;
    font-weight: 500;
    border-width:0px;
    outline:none;
    margin-left:-5px;
}

.sub{
    margin-top:10px;
    margin-bottom:5px;
}

.heading{
    font-size:25px;
    font-weight: 700;
    margin-bottom :20px;
}

.select{
    width:100%;
    border-style: solid;
}

.mb-10{
    margin-bottom:10px;
}

.fieldSetCls{
    border: 3px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border-radius: 10px;
}

.deleteButton{
    background-color: transparent;
    border-width:2px;
    margin-top:-6px;
    margin-left:9px;
    font-weight: bold;
    border-radius:15px;
    padding-top:4px;
    padding-bottom:4px;
    border-color: gray;
    outline: none;
}

.paraCls{
    padding-top:0px;
}

.text-right{
    text-align: right;
}

.Error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:red;
    height: 400px;
    font-weight: bold;
    font-size: 18px;
}

.legend{
    width:210px;
    font-weight: 500;
}

.required{
    color:red;
}
